<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="logLevel">INFO</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | %C{1} - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="${sys:logLevel}">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>